/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400;1,700;1,900&display=swap');

.text {
    font-family: 'Roboto', sans-serif;
    color: #d7dee6;
    
}

.title {
    font-weight: 700;
}

.subtitle {
    font-weight: 100;
    font-size: 25px;
}

